*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    scroll-behavior: smooth;
    transition: 5s;
}
.nav{
    width: 100%;
    height: 20%;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
    
    
}
.nav-left{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20%;
   margin-left: 5vmax;
}
.nav-middle a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 25px;
    margin-right: 2vmax;
}
.nav-middle a:hover{
    border-bottom: 2px solid black;
}
.nav-right i{
    font-size: 32px;
    margin-right: 2vmax;
    align-items: center;
    cursor: pointer;
}
.menu  i{
    display: none;
}


/*  _______________________________scroll image____________________  */
    
/* external css: flickity.css */


.carousel {
  background: #0e0d0d;
  /* background-color: red; */
}

.carousel-cell {
  width: 100%;
  height: 700px;
  /* margin-right: 10px; */
  background: hsl(0, 0%, 20%);
  /* background-color: aqua; */
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
          margin-top: -22%;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.cell{
    display: inline-block;
    font-size: 3vmax;
    transform: translate(15vmax, 8vmax );
    line-height: 6vmax;
    color: white;
    letter-spacing: 0.3vmax;

    
}
.cell button{
    font-size: 1.5vmax;
    padding: 1vmax 2vmax 1vmax 2vmax;
    background-color: rgb(175, 168, 168);
    border: none;
    cursor: pointer;
    
}
/* ___________________________________________________ */

.page2{
    width: 100%;
    height: 100%;
    /* background-color: rgb(224, 15, 15); */
    
}
.page2 .dot{
    width: 100%;
    height: 5%;
    background-color: rgb(68, 63, 63);
}
.page2 .star{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.page2 .star .cont-1 {
    width: 30%;
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1631701258153-deab4dd1c3f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
  padding-top: 13vmax;
  line-height: 3.5vmax;
  font-size: 1.3vmax;
  position: relative;
  
}
.page2  .layer{
    width:  100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    top: -0%;
}
.page2 .star i{
    font-size: 7vmax;
    
}
.page2 .star .cont-2 {
    width: 30%;
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1592945403244-b3fbafd7f539?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=553&q=80 );
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
  padding-top: 13vmax;
  line-height: 3.5vmax;
  font-size: 1.3vmax;
  position: relative;
}

.page2 .star .cont-3 {
    width: 30%;
    height: 80%;
    background-image: url(https://cdn0.hitched.co.uk/article/4382/original/1280/jpg/112834-laura-chouette-aztlgmp6osk-unsplash.jpeg);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
  padding-top: 13vmax;
  line-height: 3.5vmax;
  font-size: 1.3vmax;
  position: relative;
   
}
.page3{
    width: 100%;
    height: 135%;
    background-image: url(https://mobirise.com/extensions/jewelrym5/perfume-shop/assets/images/image2-1170x780.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
.page4{
    width: 100%;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.page4 .left{
    width: 30%;
    text-align: center;
}
.page4 h1{
    font-size: 8vmax;
}
.page4 h3{
    font-size: 1vmax;
}
.page4 .middile{
    width: 30%;
    text-align: center;
}
.page4 .right{
    width: 30%;
    text-align: center;
}
.page4 button{
    width: 15%;
    padding: 1.5vmax 3.5vmax 1.5vmax 3.5vmax;
    font-size: 1.2vmax;
    background-color: rgb(119, 91, 54);
    border: none;
    color: white;
    transform: translateY(-4vmax);
    cursor: pointer;
}
.page5{
    width: 100%;
    height: 60%;
    background-color: rgb(218, 210, 210);
    font-size: 1.7vmax;
    line-height: 5vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vmax;
}
.page5 span{
    color: tan;
}
.page6{
    width: 100%;
    height: 60%;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.page6 .box1{
    width: 200px;
    height: 200px;
    position: relative;
    z-index: -1;
}
.page6 .box1 img{
    height: 100%;
    width: 100%;
    position: absolute;
    /* z-index: -1; */
}
.page6 .box1 .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
   
    z-index: 999;
    opacity: 0;
}
.page6 .box1 .layer:hover{
   opacity: 1;
   z-index: 999;
   
   
}


.page7{
    width: 100%;
    height: 280%;
    background-color: rgb(218, 210, 210);
}
.page7 .new{
    width: 100%;
    height: 13%;
    /* background-color: red; */
    font-size: 3vmax;
    text-align: center;
}
.page7 .image{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
 .page7 .container{
    width: 40%;
    height: 45%;
    
    
} 
.box{
    width: 100%;
    height: 60%;
    
    position: relative;
    overflow: hidden;
   
}
.page7 .image .container .box img{
   width: 100%;
   height: 100%;
    position: absolute;
    transition: 2s;
}
 

.box img:hover{
    transform: scale(1.2);

}
.page7  h3{
    transition: 1s;
} 
 .page7  h3:hover{
    color: blue;
    cursor: pointer;
} 

.page9{
    width: 100%;
    height: 20%;
    position: relative;
    text-align: center;
    
}
.page9 .image1{
position: absolute;
line-height: 3vmax;
padding-top: 4vmax;
transition: 1.5s all linear;
}
.page9 .image2{
   
    position: absolute;
    opacity: 0;
    line-height: 3vmax;
padding-top: 4vmax;
transition: 1.5s all linear;


}   
.page9 .image3{
    position: absolute;
    opacity: 0;
    line-height: 3vmax;
padding-top: 4vmax;
transition: 1.5s all linear;
}
.page9 p{
    width: 60%;
    font-size: 1.5vmax;
    margin-left: 20vmax;
}
.page9 i{
    font-size: 2vmax;
}
.page10{
    width: 100%;
    height: 20%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.page10 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;

}
.page10 button{
    border-radius: 50%;
    border: none;
    margin: 0vmax 1.5vmax;
}
.page11{
    width: 100%;
    height: 40%;
    background-color: rgb(218, 210, 210);
    /* background-color: chartreuse; */
}

.page11 .top{
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
    font-size: 2vmax;
   text-align: center;
    /* padding: 5vmax; */
    

   
}
.page11 .top h1{
    padding-top: 2vmax;
}
.page11 .images{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: blueviolet; */
}
.page11 .images .containers{
    width: 30%;
    height: 80%;
    /* background-color: blue; */
     /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: relative; */
}
.containers .threeimage { 
    width: 100%;
    height: 70%;
    /* position: relative;   */
    object-fit: cover;
    overflow: hidden;
    
} 
.threeimage img{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    transition: 0.5s;
}
.threeimage img:hover{
    transform: scale(1.2);
}
.containers .left{
    margin-top: 3vmax;
}


.page12{
    width: 100%;
    height: 80%;
    background-color: white;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page12 .image1{
    width: 48%;
    height: 100%;
    /* background-color: aqua; */
}
.page12 .image1 img{
    width: 100%;
    height: 100%;
}
.page12 .content{
    width: 48%;
    height: 95%;
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2vmax;
}
.page12 .content .button1{
    width: 10%;
 background-color: black;
 color: white;
 border: none;
 padding: 0.5vmax 0vmax;
}
.page12 .content .button2{
    width: 40%;
    padding: 1.5vmax 4.5vmax;
 background-color: black;
 color: white;
 font-size: 1.5vmax;
 border: none;
 cursor: pointer;
}
.page12 .content h1{
    font-size: 4vmax;
}
.page12 .content h2 span{
    color: red;
}
.page12 .content p{
    line-height: 1.7vmax;
}
.page13{
    width: 100%;
    height: 50%;
    /* background-color: rgb(5, 21, 250); */
}
.page13 .content1{
    width: 100%;
    height: 50%;
    /* background-color: rgb(200, 255, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page13 .left{
    width: 20%;
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.page13 .left h4{
    cursor: pointer;
}
.page13 .left .itag{
    font-size: 1.5vmax;
    display: flex;
    justify-content: space-around;
    border-radius: 5vmax;
}
.page13 .left .itag i{
    border-radius: 5vmax;
    /* background-color: red; */
    padding: 0.5vmax;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
}
.page13 .left .itag i:hover{
    color: gray;

}
.page13 .middile{
    width: 30%;
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.page13 .middile input{
    font-size: 1.5vmax;
    /* border-bottom: 1px solid gray; */
    border: none;
    padding: 2vmax 0vmax;
    /* text-align: center; */
}
.page13 .middile button{
    width: 40%;
    padding: 1.5vmax 0vmax;
    font-size: 1.3vmax;
    background-color: gray;
    border: none;
    color: white;
    cursor: pointer;

}
.page13 .right{
    width: 30%;
    height: 40%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top: -12vmax; */
}
.page13 .right input{
    font-size: 1.5vmax;
    /* border-bottom: 1px solid gray; */
    border: none;
    padding: 2vmax 0vmax;

    
    /* text-align: center; */
    
}
@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
.page13  input:hover{
    border-bottom: 2px solid rgb(12, 12, 12);
    animation: border_anim 1s linear forwards;
    cursor: pointer;
    
}
.page13 .last{
    width: 100%;
    height: 10%;
    /* background-color: rgb(195, 0, 255); */
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media (max-width:600px) {
    .nav{
        width: 100%;
        height: 10%;
        /* background-color: rgb(255, 254, 254);
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center; */
        
    }
    .nav-left{
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 50%;
       /* background-color: aqua; */
       margin-left: 1vmax;
       font-size: 1.3vmax;
    }
    .nav-left img{
        width: 20%;
        height: 10%;
    }
    .nav-middle a{
        text-decoration: none;
        color: rgb(8, 8, 8);
        /* font-size: 25px; */
        display: none;
        margin-right: 2vmax;
    }
    .nav-middle a:hover{
        border-bottom: 2px solid black;
    }
    .nav-right i{
        width: 40%;
        /* background-color: blueviolet; */
        font-size: 4vmax;
        margin-right: 0.5vmax;
        align-items: center;
        cursor: pointer;
    }
    .menu  i{
        width: 10%;
        font-size: 3.4vmax;
    }
    .carousel {
        height: 30%;
        /* background: hsl(120, 94%, 47%); */
        background-color: red;
      }
      
      .carousel-cell {
        width: 100%;
        height: 300px;
        /* margin-right: 10px; */
        /* background: hsl(0, 0%, 20%); */
        /* background-color: red; */
      }
      
      .carousel-cell-image {
        display: block;
        max-height: 100%;
        margin: 0 auto;
        max-width: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.4s;
        transition: opacity 0.4s;
        margin-top: -30%;
         /* background-color: aqua;        */
              
      }
      
      /* fade in lazy loaded image */
      .carousel-cell-image.flickity-lazyloaded,
      .carousel-cell-image.flickity-lazyerror {
        opacity: 1;
      }
      
      .cell{
          display: inline-block;
          font-size: 3vmax;
          transform: translate(10vmax, 15vmax );
          line-height: 6vmax;
          color: white;
          letter-spacing: 0.3vmax;
        
          
      
          
      }
      .cell h6{
        font-size: 3vmax;
        
      }
      .cell h1{
        font-size: 5vmax;
      }
      .cell button{
          font-size: 2.2vmax;
          padding: 2vmax 4vmax 2vmax 4vmax;
          background-color: rgb(175, 168, 168);
          border: none;
          cursor: pointer;
          margin-top: 1vmax;
         
          
      }
      
      .page2{
        height: 100%;
    }
      .page2 .star{
        height: 100%;
        flex-direction: column;
        /* background-color: aqua; */
    }
    .page2 .star .cont-1 {
        width: 80%;
        height: 30%;
      font-size: 1.7vmax;
      margin-bottom: 2vmax;
    }
    .page2 .star .cont-2 {
        width: 80%;
        height: 30%;
      font-size: 1.7vmax;
      margin-bottom: 2vmax;
    }
    
    .page2 .star .cont-3 {
        width: 80%;
        height: 30%;
      font-size: 1.7vmax;
      margin-bottom: 5vmax;
    }
    .page3{
        height: 40%;
        margin-top: 2vmax;
}
.page4 .left{
    width: 80%;
}
.page4 h1{
    font-size: 10vmax;
}
.page4 h3{
    font-size: 2vmax;
}
.page4 .middile{
    width: 80%;
}
.page4 .right{
    width: 80%;
}
.page4 button{
    width: 60%;
    font-size: 2vmax;
    margin-top: 3vmax;
}
.page5{
    height: 40%;
}
.page6{
    height: 100%;
    flex-wrap: wrap;
}
.page6 .box1{
    height: 30%;
    width: 40%;
    position: relative;
}
.page6 .box1 img{
    height: 100%;
    width: 100%;
    position: absolute;
}
.page6 .box1 .layer{
   
     width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
  
}
.page6 .box1 .layer:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.page7 .new{
   height: 5%;
}
 .page7 .container{
    width: 80%;
    height: 25%;
    flex-direction: column;
}
.page9{
    height: 12%;
    background-color: rgb(175, 168, 168);
    
} 
.page9 p{
    width: 80%;
    margin-left: 5vmax;
}
.page10{
    height: 10%;
}
.page11{
    height: 60%;
}

.page11 .top{
    height: 8%; 
}
.page11 .top h1{
    padding-top: 3vmax;
}
.page11 .images{
    flex-direction: column;
    align-items: center;
}
.page11 .images .containers{
    width: 80%;
}
.page12{
    height: 40%;
    flex-direction: column;
}
.page12 .image1{
    width: 80%;
    height: 40%;
}
.page12 .content{
    width: 80%;
    height: 50%;
}
.page12 .content .button1{
    width: 20%;
}
.page12 .content .button2{
    width: 50%;
}
.page13{
    height: 50%;
    /* background-color: rgb(5, 21, 250); */
    background-color: red;
}
.page13 .content1{
    height: 60%;
    flex-direction: column;
}
.page13 .left{
    width: 80%;
}
.page13 .middile{
    width: 80%;
}
.page13 .right{
    width: 80%;
}

 
}